html {
  padding: 0px;
  margin: 0px;
  height: 100%;
  overflow-y: auto !important;
}

/*
##Device = Tablets, Ipads (portrait),
##Screen = B/w 768px to 1024px
##Device = 태블릿, 아이패드(세로),
##Screen = 768px에서 1024px 사이
*/

@media (min-width: 768px) and (max-width: 1024px) {
  .header {
    flex-direction: column;
    align-items: center;
  }

  .about-wrapper {
    flex-direction: column-reverse;
  }

  .icon-container {
    justify-content: center;
  }

  .projects-wrapper {
    width: 90%;
    padding: 0 5%;
  }

  .interest-wrapper {
    width: 90%;
    padding: 0 5%;
  }
}

/*
##Device = Tablets, Ipads (landscape)
##Screen = B/w 768px to 1024px
##Device = 태블릿, 아이패드(가로)
##Screen = 768px에서 1024px 사이
*/

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
  .about-wrapper {
    flex-direction: column-reverse;
  }

  .aboutImg {
    max-width: 300px;
    max-height: 400px;
  }
  
  .icon-container {
    justify-content: center;
  }

  .projects-wrapper {
    width: 90%;
    padding: 0 5%;
  }

  .interest-wrapper {
    width: 90%;
    padding: 0 5%;
  }
}

/*
##Device = Low Resolution Tablets, Mobiles (Landscape)
##Screen = B/w 481px to 767px
##Device = 저해상도 태블릿, 모바일(가로)
##Screen = 481px에서 767px 사이
*/

@media (min-width: 481px) and (max-width: 767px) {
  .header {
    flex-direction: column;
    align-items: center;
  }

  .about-wrapper {
    flex-direction: column-reverse;
  }

  .aboutImg {
    max-width: 300px;
    max-height: 400px;
  }
  
  .icon-container {
    justify-content: center;
  }

  .projects-wrapper {
    width: 90%;
    padding: 0 5%;
  }

  .interest-wrapper {
    width: 90%;
    padding: 0 5%;
  }
}

/*
##Device = Most of the Smartphones Mobiles (Portrait)
##Screen = B/w 320px to 479px
##Device = 대부분의 스마트폰 모바일 기기(세로)
##Screen = 320px에서 479px 사이
*/

@media (min-width: 320px) and (max-width: 480px) {
  .header {
    flex-direction: column;
    align-items: center;
  }

  .about-wrapper {
    flex-direction: column-reverse;
  }

  .roller {
    width: 280px !important;
    text-align: center;
  }

  .aboutImg {
    max-width: 300px;
    max-height: 400px;
  }
  
  .icon-container {
    justify-content: center;
  }
}